@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dr909n');
  src:  url('fonts/icomoon.eot?dr909n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dr909n') format('truetype'),
    url('fonts/icomoon.woff?dr909n') format('woff'),
    url('fonts/icomoon.svg?dr909n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-shadows:before {
  content: "\e9b8";
}
.icon-hype:before {
  content: "\e9b7";
}
.icon-scent:before {
  content: "\e900";
}
.icon-airplay:before {
  content: "\e901";
}
.icon-alert-circle:before {
  content: "\e902";
}
.icon-alert-octagon:before {
  content: "\e903";
}
.icon-alert-triangle:before {
  content: "\e904";
}
.icon-aperture:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
.icon-arrow-down-circle:before {
  content: "\e907";
}
.icon-arrow-down-left:before {
  content: "\e908";
}
.icon-arrow-down-right:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-left-circle:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-right-circle:before {
  content: "\e90d";
}
.icon-arrow-up:before {
  content: "\e90e";
}
.icon-arrow-up-circle:before {
  content: "\e90f";
}
.icon-arrow-up-left:before {
  content: "\e910";
}
.icon-arrow-up-right:before {
  content: "\e911";
}
.icon-at-sign:before {
  content: "\e912";
}
.icon-award:before {
  content: "\e913";
}
.icon-book-open:before {
  content: "\e914";
}
.icon-bookmark:before {
  content: "\e915";
}
.icon-box:before {
  content: "\e916";
}
.icon-briefcase:before {
  content: "\e917";
}
.icon-calendar:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e919";
}
.icon-camera-off:before {
  content: "\e91a";
}
.icon-cast:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e91c";
}
.icon-check-circle:before {
  content: "\e91d";
}
.icon-check-square:before {
  content: "\e91e";
}
.icon-chevron-down:before {
  content: "\e91f";
}
.icon-chevron-left:before {
  content: "\e920";
}
.icon-chevron-right:before {
  content: "\e921";
}
.icon-chevron-up:before {
  content: "\e922";
}
.icon-chevrons-down:before {
  content: "\e923";
}
.icon-chevrons-left:before {
  content: "\e924";
}
.icon-chevrons-right:before {
  content: "\e925";
}
.icon-chevrons-up:before {
  content: "\e926";
}
.icon-circle:before {
  content: "\e927";
}
.icon-clipboard:before {
  content: "\e928";
}
.icon-clock:before {
  content: "\e929";
}
.icon-cloud:before {
  content: "\e92a";
}
.icon-cloud-drizzle:before {
  content: "\e92b";
}
.icon-cloud-lightning:before {
  content: "\e92c";
}
.icon-cloud-off:before {
  content: "\e92d";
}
.icon-cloud-rain:before {
  content: "\e92e";
}
.icon-cloud-snow:before {
  content: "\e92f";
}
.icon-code:before {
  content: "\e930";
}
.icon-coffee:before {
  content: "\e931";
}
.icon-columns:before {
  content: "\e932";
}
.icon-command:before {
  content: "\e933";
}
.icon-compass:before {
  content: "\e934";
}
.icon-copy:before {
  content: "\e935";
}
.icon-corner-down-left:before {
  content: "\e936";
}
.icon-database:before {
  content: "\e937";
}
.icon-dollar-sign:before {
  content: "\e938";
}
.icon-download:before {
  content: "\e939";
}
.icon-download-cloud:before {
  content: "\e93a";
}
.icon-droplet:before {
  content: "\e93b";
}
.icon-edit:before {
  content: "\e93c";
}
.icon-edit-2:before {
  content: "\e93d";
}
.icon-edit-3:before {
  content: "\e93e";
}
.icon-external-link:before {
  content: "\e93f";
}
.icon-eye:before {
  content: "\e940";
}
.icon-eye-off:before {
  content: "\e941";
}
.icon-facebook:before {
  content: "\e942";
}
.icon-fast-forward:before {
  content: "\e943";
}
.icon-feather:before {
  content: "\e944";
}
.icon-figma:before {
  content: "\e945";
}
.icon-file:before {
  content: "\e946";
}
.icon-file-minus:before {
  content: "\e947";
}
.icon-file-plus:before {
  content: "\e948";
}
.icon-file-text:before {
  content: "\e949";
}
.icon-film:before {
  content: "\e94a";
}
.icon-filter:before {
  content: "\e94b";
}
.icon-flag:before {
  content: "\e94c";
}
.icon-folder:before {
  content: "\e94d";
}
.icon-folder-minus:before {
  content: "\e94e";
}
.icon-frown:before {
  content: "\e94f";
}
.icon-gift:before {
  content: "\e950";
}
.icon-grid:before {
  content: "\e951";
}
.icon-heart:before {
  content: "\e952";
}
.icon-hexagon:before {
  content: "\e953";
}
.icon-home:before {
  content: "\e954";
}
.icon-image:before {
  content: "\e955";
}
.icon-info:before {
  content: "\e956";
}
.icon-instagram:before {
  content: "\e957";
}
.icon-italic:before {
  content: "\e958";
}
.icon-layout:before {
  content: "\e959";
}
.icon-linkedin:before {
  content: "\e95a";
}
.icon-list:before {
  content: "\e95b";
}
.icon-loader:before {
  content: "\e95c";
}
.icon-lock:before {
  content: "\e95d";
}
.icon-log-in:before {
  content: "\e95e";
}
.icon-log-out:before {
  content: "\e95f";
}
.icon-mail:before {
  content: "\e960";
}
.icon-map-pin:before {
  content: "\e961";
}
.icon-maximize:before {
  content: "\e962";
}
.icon-maximize-2:before {
  content: "\e963";
}
.icon-meh:before {
  content: "\e964";
}
.icon-menu:before {
  content: "\e965";
}
.icon-message-circle:before {
  content: "\e966";
}
.icon-message-square:before {
  content: "\e967";
}
.icon-minimize:before {
  content: "\e968";
}
.icon-minimize-2:before {
  content: "\e969";
}
.icon-minus:before {
  content: "\e96a";
}
.icon-minus-circle:before {
  content: "\e96b";
}
.icon-minus-square:before {
  content: "\e96c";
}
.icon-more-horizontal:before {
  content: "\e96d";
}
.icon-more-vertical:before {
  content: "\e96e";
}
.icon-mouse-pointer:before {
  content: "\e96f";
}
.icon-move:before {
  content: "\e970";
}
.icon-music:before {
  content: "\e971";
}
.icon-navigation:before {
  content: "\e972";
}
.icon-navigation-2:before {
  content: "\e973";
}
.icon-paperclip:before {
  content: "\e974";
}
.icon-phone:before {
  content: "\e975";
}
.icon-phone-call:before {
  content: "\e976";
}
.icon-phone-forwarded:before {
  content: "\e977";
}
.icon-phone-incoming:before {
  content: "\e978";
}
.icon-phone-missed:before {
  content: "\e979";
}
.icon-phone-off:before {
  content: "\e97a";
}
.icon-phone-outgoing:before {
  content: "\e97b";
}
.icon-pie-chart:before {
  content: "\e97c";
}
.icon-play:before {
  content: "\e97d";
}
.icon-play-circle:before {
  content: "\e97e";
}
.icon-plus:before {
  content: "\e97f";
}
.icon-plus-circle:before {
  content: "\e980";
}
.icon-plus-square:before {
  content: "\e981";
}
.icon-pocket:before {
  content: "\e982";
}
.icon-power:before {
  content: "\e983";
}
.icon-printer:before {
  content: "\e984";
}
.icon-radio:before {
  content: "\e985";
}
.icon-refresh-ccw:before {
  content: "\e986";
}
.icon-refresh-cw:before {
  content: "\e987";
}
.icon-repeat:before {
  content: "\e988";
}
.icon-rewind:before {
  content: "\e989";
}
.icon-rotate-ccw:before {
  content: "\e98a";
}
.icon-rotate-cw:before {
  content: "\e98b";
}
.icon-save:before {
  content: "\e98c";
}
.icon-scissors:before {
  content: "\e98d";
}
.icon-search:before {
  content: "\e98e";
}
.icon-send:before {
  content: "\e98f";
}
.icon-settings:before {
  content: "\e990";
}
.icon-share:before {
  content: "\e991";
}
.icon-share-2:before {
  content: "\e992";
}
.icon-shield:before {
  content: "\e993";
}
.icon-slash:before {
  content: "\e994";
}
.icon-sliders:before {
  content: "\e995";
}
.icon-star:before {
  content: "\e996";
}
.icon-sun:before {
  content: "\e997";
}
.icon-sunset:before {
  content: "\e998";
}
.icon-tablet:before {
  content: "\e999";
}
.icon-thumbs-down:before {
  content: "\e99a";
}
.icon-thumbs-up:before {
  content: "\e99b";
}
.icon-toggle-left:before {
  content: "\e99c";
}
.icon-toggle-right:before {
  content: "\e99d";
}
.icon-tool:before {
  content: "\e99e";
}
.icon-trash:before {
  content: "\e99f";
}
.icon-trash-2:before {
  content: "\e9a0";
}
.icon-trending-down:before {
  content: "\e9a1";
}
.icon-trending-up:before {
  content: "\e9a2";
}
.icon-twitter:before {
  content: "\e9a3";
}
.icon-umbrella:before {
  content: "\e9a4";
}
.icon-underline:before {
  content: "\e9a5";
}
.icon-unlock:before {
  content: "\e9a6";
}
.icon-upload:before {
  content: "\e9a7";
}
.icon-upload-cloud:before {
  content: "\e9a8";
}
.icon-user:before {
  content: "\e9a9";
}
.icon-user-check:before {
  content: "\e9aa";
}
.icon-user-minus:before {
  content: "\e9ab";
}
.icon-user-plus:before {
  content: "\e9ac";
}
.icon-user-x:before {
  content: "\e9ad";
}
.icon-users:before {
  content: "\e9ae";
}
.icon-x:before {
  content: "\e9af";
}
.icon-x-circle:before {
  content: "\e9b0";
}
.icon-x-octagon:before {
  content: "\e9b1";
}
.icon-x-square:before {
  content: "\e9b2";
}
.icon-youtube:before {
  content: "\e9b3";
}
.icon-zap:before {
  content: "\e9b4";
}
.icon-zoom-in:before {
  content: "\e9b5";
}
.icon-zoom-out:before {
  content: "\e9b6";
}
